:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  
  header {
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  main {
    flex: 1;
    padding: 2rem;
  }
  
  footer {
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  th, td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  table {
    margin: 0 auto;
  }
  